.dinatoon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin: 2em;
}

.dinatoon-item {
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
  width: 200px;
  height: 300px;
  transition: transform 0.3s ease;
}

.dinatoon-item:hover {
  transform: scale(1.05);
}