/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Kotori Rose", Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: black
}

@font-face {
  font-family: 'Kotori Rose';
  src: url('./assets/fonts/Kotor/KotoriRose-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kotori Rose';
  src: url('./assets/fonts/Kotor/KotoriRose-Bold.otf');
  font-weight: bold;
  font-style: normal;
}